section {
  margin-bottom: 20px;
}

.waveform-holder {
  display: block;
  background: magenta;
  width: 100%;
  height: 100px;
}

.add-new-form-section form {
  display: none;
  margin-bottom: 20px;
}

.structure-list li {
  list-style: none;
}

.structure-title.heading {
  font-weight: bold;
}

.row-wrapper {
  display: flex;
  justify-content: space-between;
  background: #efefef;
  border: 1px solid #ccc;
  padding: 5px 10px;
  margin-bottom: 10px;
}

.edit-controls-wrapper svg,
.edit-controls-wrapper a {
  margin: 0 5px;
  cursor: pointer;
}

.build-structure-button {
  margin-bottom: 20px;
}

.code-box {
  border: 1px solid #ccc;
  width: 100%;
  height: 400px;
  overflow: auto;
}

section.demo-html-structure-tree {
  
}

/* Transitions */
.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
